<h2>Weather forecast</h2>

<style>
    table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 40%;  margin-top: 30px;}
    td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 8px;  }
    tr:nth-child(even) { background-color: #efefef; }
    .post-id{width:2%} .post-name{width:30%}

</style>

<?php

$lastForecast = $block->getLastForecast();

if (!$lastForecast->isEmpty())
{
    echo '<table>';

    echo '<tr><td>City</td><td>' . $lastForecast->getCity() . '</td></tr>';
    echo '<tr><td>Weather</td><td>' . $lastForecast->getMainWeather() . '</td></tr>';
    echo '<tr><td>Description</td><td>' . $lastForecast->getMainDescription() . '</td></tr>';
    echo '<tr><td>Temperature</td><td>' . $lastForecast->getTemperature() . ' °C</td></tr>';
    echo '<tr><td>Pressure</td><td>' . $lastForecast->getPressure() . ' hpa</td></tr>';
    echo '<tr><td>Humidity</td><td>' . $lastForecast->getHumidity() . ' %</td></tr>';
    echo '<tr><td>Temp Min</td><td>' . $lastForecast->getTempMin() . ' °C</td></tr>';
    echo '<tr><td>Temp Max</td><td>' . $lastForecast->getTempMax() . ' °C</td></tr>';
    echo '<tr><td>Wind Speed</td><td>' . $lastForecast->getWindSpeed() . ' m/s</td></tr>';
    echo '<tr><td>Clouds</td><td>' . $lastForecast->getClouds() . ' %</td></tr>';
    echo '<tr><td>Added</td><td>' . $lastForecast->getCreatedAt() . '</td></tr>';

    echo '</table>';
}
else
{
    echo 'No forecast found!';
}

?>

</body>
</html>